@import "../../styles/variables";

.form {
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 50vh;
  background-color: $gold;
  border-radius: 25px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin: 0 auto;
}

.submit {
  background-color: $purple;
  border: 2px solid $purple;
}

.submit:hover {
  background-color: $purple;
  border: 2px solid $purple;
  opacity: 0.9;
}

.name {
  margin-right: 1em;
}
