@import "../../styles/variables";

.form {
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 50vh;
  background-color: $gold;
  border-radius: 25px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin: 0 auto;
}

.submit {
  margin-left: 1em;
  background-color: white;
  border: 2px solid white;
  color: purple;
  transition: 0.5s;
}

.submit:hover {
  background-color: $purple;
  border: 2px solid $purple;
  opacity: 0.9;
}

.name {
  margin-right: 1em;
}

.file {
  background: $purple;
  opacity: 0.9;
  color: white;
  padding: 8px 25px;
  font-size: 10px;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  outline: none;
  transition: 0.5s;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

.file:hover {
  opacity: 1;
}

.label {
  color: $purple;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 5%;
  margin-right: 1em;
}
