@import "../../styles/variables";

.share {
  width: 25%;
  font-size: 1em;
  display: flex;
  justify-content: space-around;
  margin: 1em auto;
  text-align: center;
}

.shareLink {
  color: navy;
  text-decoration: none;
}
