@import "../styles/variables";

.footer {
  position: fixed;
  display: flex;
  justify-content: space-around;
  padding: 1em;
  background-color: $purple;
  color: white;
  bottom: 0;
  width: 100%;
}

.footer > * {
  margin: 0 1em;
}

.footer a {
  color: white;
}
